[manifest]
version = "1.0.0"
dump_lua = true
priority = -15


# Console Stuff:
[[patches]]
[patches.pattern]
target = "main.lua"
pattern = 'G:draw()'
position = "after"
payload = '''
do
    local console = require("debugplus.console")
    console.doConsoleRender()
    timer_checkpoint('DebugPlus Console', 'draw')
end
'''
match_indent = true
overwrite = true

[[patches]]
[patches.module]
source = "debugplus/lovelyLoadModule.lua"
before = "main.lua"
name = "debugplus.lovelyLoadModule"
load_now = true
